@page
@model CouponManagement.Pages.Coupons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.ValidDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.ValidDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.ExpiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.ExpiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.Category.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.Seller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.Seller.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Coupon.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
