@page
@model SearchCustomerModel
@{
}

<form action="" method="POST" style="margin-top: 50px;">
  <div class="form-group">
    <label class="control-label" for="search">Search Customer Name</label>
    <input type="text" class="form-control" name="search" id="search" />
  </div>
  <div class="form-group">
    <input type="submit" value="Search Customer" class="btn btn-default" />
  </div>
</form>


@if(Model.SearchCompleted) {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>PhoneNumber</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.SearchResults.Count > 0) {
                @foreach(var cust in Model.SearchResults) {
                    <tr>
                        <td>@cust.Name</td>
                        <td>@cust.Address</td>
                        <td>@cust.Email</td>
                        <td>@cust.PhoneNumber</td>
                    </tr>
                }
            } else {
                <tr class="danger">
                    <td colspan="4" class="text-center">
                        No results found for term "@Model.Search"
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else if(!Model.FirstLoad){
    <div class="alert alert-info">
        <p>
            Enter the search terms into the box and click <strong>Search Customer Name</strong>
        </p>
    </div>
}