@page
@model InventoryStore.Pages.Inventories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].InventoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Manufacture_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inventory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacture_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.City)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
